.elements__delete {
    background-image: url(../../../images/element-delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.elements__delete:hover {
    opacity: 0.6;
}