.profile__information {
    max-width: 282px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 950px) {
    .profile__information {
        flex-direction: column;
        align-items: center;
    }
}